.catalog {
	position: relative;
	margin-right: 30px;

	&__btn {
		position: relative;
		font-weight: 600;
		letter-spacing: 0.03em;
		padding: 15px 38px 15px 61px;
		color: #63A60F;
		background-color: #fff;
		text-align: center;
		border-radius: 6px;
		transition: border 0.3s, background-color 0.3s;

		&:hover {
			background-color: #E0EDCF;
		}

		&::before {
			position: absolute;
			top: 50%;
			left: 18px;
			content: "";
			background-color: #63A60E;
         -webkit-mask-image: url('../images/sprite.svg#icon-nav');
         -webkit-mask-repeat: no-repeat;
         mask-size: cover;
         mask-position: center;
			width: 25px;
			height: 17px;
			transform: translateY(-50%);
		}

		&::after {
			position: absolute;
			right: 18px;
			top: 50%;
			content: "";
			background-color: #63A60E;
         -webkit-mask-image: url('../images/sprite.svg#icon-arrow');
         -webkit-mask-repeat: no-repeat;
         mask-size: cover;
         mask-position: center;
			width: 7.23px;
			height: 4px;
			transition: transform 0.3s;
			transform: translateY(-50%);
		}

		&--active {
			border-radius: 6px 6px 0 0;
		   background-color: #E0EDCF;

		   &::after {
				transform: rotate(180deg);
		}
		}
	}

	&__list {
		position: absolute;
		left: 0;
		top: 50px;
		width: 240px;
		border-top: 1px solid #EBEBEB;
		border-bottom: 1px solid #EBEBEB;
		background-color: #fff;
		border-radius: 0 0 6px 6px;
		display: none;
		transition: display 0.5s;
		z-index: 999;

		&--active {
			display: block;
		}
	}

	&__link {
		position: relative;
		display: inline-block;
		width: 240px;
		border-left: 1px solid #EBEBEB;
		border-right: 1px solid #EBEBEB;
		border-bottom: 1px solid #EBEBEB;
		padding: 15px 24px;
		transition: color 0.3s, box-shadow 0.3s;
		outline: transparent;
		font-size: 16px;
		line-height: 1.2;
		letter-spacing: 0.03em;
		color: #000;

		&:focus {
			box-shadow: 0 0 0 3px #E0EDCF;
		}

		&:hover {
			color: #63A60F;
			box-shadow: none;
			&::before {
				border-left-color: #63A60F;
			}
		}

		&:active {
			color: #C1C1C1;
			box-shadow:none;

			&::before {
				border: none;
			}
		}

		&::before {
			content: "";
			border-left: 3px solid transparent;
			position: absolute;
			left: -1px;
			right: 0;
			top: 0;
			height: 50px;
			transition: border 0.3s;
		}
	}
}