.contacts {
	&__item {
		margin-bottom: 18px;
	}

	&__link {
		transition: opacity 0.3s, color 0.3s;
		outline: transparent;

		&:focus {
			box-shadow: 0 0 0 3px #EFF6E7;
         border-radius: 3px;
		}

		&:hover {
			box-shadow: none;
			opacity: 0.7;
		}

		&:active {
			color: #E0EDCF;;
		}
	}
}