.social {
	display: flex;

	&__item {
		&:not(:last-child) {
			margin-right: 12px;
		}
	}

	&__link {
		height: 32px;
		width: 31px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		display: block;
		outline: transparent;
		transition: opacity 0.3s, color 0.3s;

		&:focus {
			box-shadow: 0 0 0 3px #EFF6E7;
         border-radius: 3px;
		}

		&:hover {
			box-shadow: none;
			opacity: 0.7;
		}

		&:active {
			color: #E0EDCF;;
		}
	}
}