.user-nav {
	display: flex;

	&__item {
		&:not(:last-child) {
			margin-right: 11px;
			@include media-3 {
				margin-right: 0;
			}
		}

		&--user {
			@include media-3 {
				display: none;
			}
		}

		&--search {
			display: none;

			@include media-3 {
				display: block;
			}
		}
	}

	&__link {
		position: relative;
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		outline: transparent;
		transition: background-color 0.3s, opacity 0.3s;

		&:focus {
			background: rgba(255, 255, 255, 0.1);
			box-shadow: inset 0 0 0 3px #eff6e7;
			border-radius: 3px;
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.1);
			border-radius: 3px;
			box-shadow: none;
		}

		&:active {
			background: rgba(255, 255, 255, 0.1);
			box-shadow: none;
		}

		&:active svg {
			opacity: 0.5;
		}
	}

	&__number {
		position: absolute;
		z-index: 99;
		top: 3px;
		right: 30px;
		background-color: #fff;
		border-radius: 10px;
		letter-spacing: 0.03em;
		color: #cf3e3b;
		line-height: 1;
		font-size: 10px;
		font-weight: 600;
		padding: 4px 3px;
	}

	&__icon {
		fill: #fff;

		@include media-3 {
			width: 24px;
		}
	}
}
