html {
	height: 100%;
}

body {
	font-size: 14px;
	line-height: 1.4;
	background-color: #fff;
	color: #575b53;
	font-family: "OpenSans", sans-serif;
	font-weight: 400;
	height: 100%;
	position: relative;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

body.lock {
	overflow-y: hidden;
}

body.overlay::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.15);
	z-index: 100;
}

.main {
	flex: 1 1 auto;
}

.container {
	max-width: 1320px;
	padding: 0 15px;
	margin: 0 auto;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.logo {
	display: inline-block;

	&__img {
		max-width: 200px;
		&--big {
			@include media-1 {
				display: none;
			}
		}

		&--short {
			display: none;
			@include media-1 {
				display: block;
			}
		}
	}
}

.title {
	text-transform: uppercase;
	@extend %ruda-600;
	color: $dark-900;
	letter-spacing: 0.03em;
	font-size: 32px;
	margin-bottom: 30px;

	@include media-4 {
		font-size: 24px;
		margin-bottom: 24px;
	}
}

.price-prev {
	position: relative;
	letter-spacing: 0.03em;
	line-height: 1;
	color: $silver-600;
	display: block;
	&::after {
		content: "";
		position: absolute;
		top: 7px;
		left: 0;
		border: 1px solid #c1c1c1;
		transform: rotate(-14.99deg);
		display: block;
		width: 100%;
	}
}

.info,
.product {
	margin-bottom: 72px;
}
