//colors
$green-1000: #4d810c;
$green-900: #63a60f;
$green-300: #b1d286;
$green-200: #e0edcf;
$green-100: #eff6e7;
$dark-900: #121212;
$dark-800: #31352b;
$dark-600: #4f4f4f;
$dark-500: #505050;

$red-900: #cf3e3b;
$orange-900: #ff7a00;
$yellow-900: #ffb800;
$silver-800: #575b53;
$silver-700: #50534b;
$silver-600: #c1c1c1;
$silver-500: #cbccca;
$silver-100: #f6f6f6;
$white: #ffffff;
$black: #000000;
$silver-50: #ebebeb;

//fonts
%opensans-300 {
	font-family: "OpenSans", sans-serif;
	font-weight: 300;
}

%opensans-400 {
	font-family: "OpenSans", sans-serif;
	font-weight: 400;
}

%opensans-600 {
	font-family: "OpenSans", sans-serif;
	font-weight: 600;
}

%opensans-700 {
	font-family: "OpenSans", sans-serif;
	font-weight: 700;
}

%ruda-400 {
	font-family: "Ruda", sans-serif;
	font-weight: 400;
}

%ruda-600 {
	font-family: "Ruda", sans-serif;
	font-weight: 600;
}

%ruda-700 {
	font-family: "Ruda", sans-serif;
	font-weight: 700;
}

%ruda-900 {
	font-family: "Ruda", sans-serif;
	font-weight: 900;
}

%bg {
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
}

%checkbox-hidden {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	clip: rect(0 0 0 0);
}
